/* Variables */
:root {
  --brown: #252529;
  --text: #3e3f42;
  --light: #9ea0a5;
  --blue: #1665d8;
  --blue-light: #4187ee;
  --white: #ffffff;
  --divider: #2e2e33;
  --divider-light: #eaedf3;
  --default-padding: 8px;
}

.app-container {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}


