/* Variables */
:root {
  --brown: #252529;
  --text: #3e3f42;
  --light: #9ea0a5;
  --blue: #1665d8;
  --blue-light: #4187ee;
  --white: #ffffff;
  --divider: #2e2e33;
  --divider-light: #eaedf3;
  --default-padding: 8px;
}

.box-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text);
  border: 3px solid var(--light);
  z-index: 5;
}

.box-positions-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-items: space-between;
}

.box-title {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.box-item {
  padding: 5px;
}

.box-item span {
  font-weight: bold;
}