/* Variables */
:root {
  --default-padding: 8px;
  --earth-surface: #7EB6D9;
  --earth-borders: #C9EBF2; 
  --earth-water: #0E3D59;
  --trace: #F9C75E;
  --text-color: #F9C75E
}
.box-container { 
  background-color: rgba(14, 61, 89, 0.7);
  z-index: 5;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 80px;
  position: absolute;
} 

.box-positions-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.box-title {
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  justify-content: center;
  padding: var(--default-padding);
  font-family: 'Orbitron', sans-serif;
}

.box-item {
  padding: var(--default-padding);
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

.box-item .label {
  font-weight: bold;
  color: var(--text-color);
}

@media only screen and (min-width: 760px) {
  .box-positions-container,
  .box-title  { 
    justify-content: flex-end;
    font-size: 20px;
  }
  .box-item {
    font-size: 16px;
  }
}
