/* Variables */
:root {
  --default-padding: 8px;
}

.box-container { 
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text);
  z-index: 5;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 80px;
  position: absolute;
} 

.box-positions-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.box-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  justify-content: center;
  padding: var(--default-padding);
  font-family: 'Orbitron', sans-serif;
}

.box-item {
  padding: var(--default-padding);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
}

.box-item .label {
  font-weight: bold;
}

@media only screen and (min-width: 760px) {
  .box-positions-container,
  .box-title  { 
    justify-content: flex-end;
    font-size: 20px;
  }
  .box-item {
    font-size: 16px;
  }
}
